<h1>MY PROFILE PAGE</h1>

Hi {{current_page_user}}, do you want to add a new post?<br>
<button type="submit" onclick="location.href='{% url 'add_post' %}'">Add New Post</button>


{% for post in posts %}
    <h3><a href="{% url 'post' post.id %}">{{post.title}}</a></h3>
    {{post.text | safe |slice:":400"}}<br>
    By {{post.author}}<br>
    <small>{{post.created_on}}</small>
    {% for tag in post.category.all %}
        <a href="{% url 'category' tag %}">{{ tag }}</a>
    {% endfor %}
{% endfor %}
<hr>

<button class="landing-readmore-btn" onclick="location.href='{% url 'edit_profile' user.id %}'">Edit Profile</button>
<hr>
 Do you want to log out?
<form method='post' action={% url 'logout_user' %}>
    {% csrf_token %}
    <input type="submit" value="Sign Out">
</form>