{% extends 'blog/navbar.html' %}
{% block content %}

<h1>Do you have a message for us : {{message_name}}</h1>
{% include '_partials/messages.html' %}

<form action="{% url 'contact' %}" method="POST" class="contact-form">

    {% csrf_token %}
      {{form.as_p}}
    <!-- <input type="text" id="full-name" name="full-name" required placeholder="Your Full Name"/>
    <input type="email" id="email" name="email" required placeholder="Your Email Address"/>
    <textarea id="message" name="message" required placeholder="Your Message"></textarea> -->
      <input type="submit" value="Submit" />
  </form>

{% endblock %}